<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========================= ICONS ============================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
    <!--=========================FAVEICON ============================-->
    <link rel="icon" href="/static/img/apple-touch-icon-180x180-precomposed.png" type="image/x-icon">
    <!--========================= SWIPER CSS ============================-->
     <link rel="stylesheet" href="/static/swiper-bundle.min.css">  <!-- type="text/css" -->

    <!--========================= CSS ============================-->
    <link rel="stylesheet" href="/static/style.css">

    <title>P O R T F O L I O</title>
  </head>
  <body>
<!--========================= HEADER ============================-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">KAHRAMON</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <!-- 1 -->
            <li class="nav__item">
              <a href="/" class="nav__link" active-link="">
                <i class="uil uil-estate nav__icon"></i> Home    
              </a>
            </li>
            <!-- 2 -->
            <li class="nav__item">
              <a href="/About" class="nav__link">
                <i class="uil uil-user nav__icon"></i> About
              </a>
            </li>
            <!-- 3 -->  
            <li class="nav__item">
              <a href="/Skills" class="nav__link">
                <i class="uil uil-file-alt nav__icon"></i> Skills
              </a>
            </li>
            <!-- 4 -->
            <li class="nav__item">
              <a href="/Services" class="nav__link">
                <i class="uil uil-briefcase-alt nav__icon"></i> Services
              </a>
            </li>
            <!-- 5 -->
            <li class="nav__item">
              <a href="/Portfolio" class="nav__link">
                <i class="uil uil-scenery nav__icon"></i> Portfolio
              </a>
            </li>
               <!-- 6 -->
               <li class="nav__item">
                <a href="/Portfolio" class="nav__link">
                  <i class="uil uil-scenery nav__icon"></i> Qualification
                </a>
              </li>            
            <!-- 7 -->
            <li class="nav__item">
              <a href="/Contactme" class="nav__link">
                <i class="uil uil-message nav__icon"></i> Contactme
              </a>
            </li>            
          </ul>
          <i class="uil uil-times nav__close" id="nav-close"></i>
        </div>
        <div class="nav__btns">
          <!-- Theme change button -->
          <i class="uil uil-moon change-theme" id="theme-button"></i>

          <div class="nav__toggle" id="nav-toggle">
            <i class="uil uil-apps"></i>
          </div>  
        </div>
      </nav>
    </header>



<!--========================= MAIN ============================-->
  <main class="main">
      <!--========================= ABOUT ============================-->
      <section class="about section" id="about">
        <h2 class="section__title">About Me</h2>
        <span class="section__subtitle">My introduction</span>
      
        <div class="about__container container grid">
          <img src="img/about.jpg" alt="" class="about__img">
        
          <div class="about__data">
          <p class="about__description">Web developer, width extensive knowledge and years of 
            experience, working in web technologies and Ui / Ux design, delivering quality work. </p>

            <div class="about__info">
              <div>
                <span class="about__info-title">08+</span>
                <span class="about__info-name">Years <br> experience</span>             
              </div>

              <div>
                <span class="about__info-title">20+</span>
                <span class="about__info-name">Completed <br> project</span>             
              </div>

              <div>
                <span class="about__info-title">05+</span>
                <span class="about__info-name">Companies <br> worked</span>             
              </div>
            </div>

              <div class="about__buttons">
                <a download="" href="pdf/Kahramon-Cv.pdf" class="button button--flex">
                  Download CV<i class="uil uil-download-alt button__icon"></i>
                </a>
              </div>
          </div>
        </div> 
    </section>
  </main>

        <!--========================= SCROLL TOP ============================-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="uil uil-arrow-up scrollup__icon"></i>
</a>



    <!--========================= SWIPER JS ============================-->
    <script src="/static/js/swiper-bundle.min.js"></script>

    <!--========================= APP.JS ============================-->
    <script src="/static/js/app.js"></script>
  </body>
</html>