<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========================= ICONS ============================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
    <!--=========================FAVEICON ============================-->
    <link rel="icon" href="img/apple-touch-icon-180x180-precomposed.png" type="image/x-icon">
    <!--========================= SWIPER CSS ============================-->
     <!-- <link rel="stylesheet" href="css/swiper-bundle.min.css">  type="text/css" -->

    <!--========================= CSS ============================-->
    <link rel="stylesheet" href="/static/style.css">

    <title>P O R T F O L I O</title>
  </head>
  <body>
    <!--========================= HEADER ============================-->
    <header class="header" id="header">
        <nav class="nav container">
          <a href="/" class="nav__logo">KAHRAMON</a>
  
          <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
              <!-- 1 -->
              <li class="nav__item">
                <a href="/" class="nav__link" active-link="">
                  <i class="uil uil-estate nav__icon"></i> Home    
                </a>
              </li>
              <!-- 2 -->
              <li class="nav__item">
                <a href="/About" class="nav__link">
                  <i class="uil uil-user nav__icon"></i> About
                </a>
              </li>
              <!-- 3 -->  
              <li class="nav__item">
                <a href="/Skills" class="nav__link">
                  <i class="uil uil-file-alt nav__icon"></i> Skills
                </a>
              </li>
              <!-- 4 -->
              <li class="nav__item">
                <a href="/Services" class="nav__link">
                  <i class="uil uil-briefcase-alt nav__icon"></i> Services
                </a>
              </li>
              <!-- 5 -->
              <li class="nav__item">
                <a href="/Portfolio" class="nav__link">
                  <i class="uil uil-scenery nav__icon"></i> Portfolio
                </a>
              </li>

               <!-- 6 -->
              <li class="nav__item">
                <a href="/Portfolio" class="nav__link">
                  <i class="uil uil-scenery nav__icon"></i> Qualification
                </a>
              </li>

              <!-- 7 -->
              <li class="nav__item">
                <a href="/Contactme" class="nav__link">
                  <i class="uil uil-message nav__icon"></i> Contactme
                </a>
              </li>            
            </ul>
            <i class="uil uil-times nav__close" id="nav-close"></i>
          </div>
          <div class="nav__btns">
            <!-- Theme change button -->
            <i class="uil uil-moon change-theme" id="theme-button"></i>
  
            <div class="nav__toggle" id="nav-toggle">
              <i class="uil uil-apps"></i>
            </div>  
          </div>
        </nav>
      </header>
  


<!--========================= MAIN ============================-->
  <main class="main">
      <!--========================= SKILLS ============================-->
      <section class="skills section" id="skills">
        <h2 class="section__title">Skills</h2>
        <span class="section__subtitle">My technical level</span>

        <div class="skills__container container grid">
          <div>
            <!--========================= SKILLS 1 ============================-->
            <div class="skills__content skills__open">
              <div class="skills__header">
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                  <h1 class="skills__title">Frontend developer</h1>
                  <span class="skills__subtitle">More than 4 years</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">HTML</h3>
                    <span class="skills__number">90%</span>
                    </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__html"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">CSS</h3>
                    <span class="skills__number">80%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__css"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">JavaScript</h3>
                    <span class="skills__number">60%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__js"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">React</h3>
                    <span class="skills__number">85%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__react"></span>
                  </div>
                </div>

                
              </div>
            </div>

            <!--========================= SKILLS 2 ============================-->
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-server-network skills__icon"></i>

                <div>
                  <h1 class="skills__title">Backend developer</h1>
                  <span class="skills__subtitle">More than 2 years</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">PHP</h3>
                    <span class="skills__number">20%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__php"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Node Js</h3>
                    <span class="skills__number">50%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__node"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Firebase</h3>
                    <span class="skills__number">30%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__firebase"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Python</h3>
                    <span class="skills__number">25%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__python"></span>
                  </div>
                </div>                
              </div>
            </div>            
          </div>

          <div>
            <!--========================= SKILLS 3 ============================-->
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-swatchbook skills__icon"></i>
                <div>
                  <h1 class="skills__title">BDesigner</h1>
                  <span class="skills__subtitle">More than 3 years</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Figma</h3>
                    <span class="skills__number">90%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__figma"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Sketch</h3>
                    <span class="skills__number">70%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__scetch"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Photoshop</h3>
                    <span class="skills__number">85%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__photoshop"></span>
                  </div>
                </div>               
              </div>
            </div>             
          </div>
        </div>
      </section>    
  </main>

        <!--========================= SCROLL TOP ============================-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="uil uil-arrow-up scrollup__icon"></i>
</a>



    <!--========================= SWIPER JS ============================-->
    <script src="/static/js/swiper-bundle.min.js"></script>

    <!--========================= APP.JS ============================-->
    <script src="/static/js/app.js"></script>
  </body>
</html>